@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla:wght@400;700&display=swap');

body {
  font-family: "Karla", sans-serif;
  background-color:  #E5E5E5
}

.container {
  max-width: 550px;
  margin: auto;
  height: auto;
  background-color: white;
}

.navbar {
  max-width: 550px;
  height: 65px;
  margin: auto;
  background: linear-gradient(to right, rgba(103, 34, 128, 1), rgba(166, 38, 211, 1));
}

.navbar-img {
  width: 31px;
  height: 26px;
}

.navbar {
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar-header {
  display: flex;
  margin-left: 20px;
}

.navbar-header-text {
  font-size: 21px;
  font-weight: 700;
  letter-spacing: -0.1em;
  color: white;
  margin-left: 7px;
}

.form {
  padding: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form > input {
  width: 230px;
  height: 35px;
  border: 1px solid
  rgba(213, 212, 216, 1);
  border-radius: 10px;
}

.form-button {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 50px;
  background: linear-gradient(to right, rgba(103, 34, 128, 1), rgba(166, 38, 211, 1));
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.form-img {
  width: 100%;
  height: auto;
}

.meme {
  position: relative;
}

.meme-text {
  position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

